HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Application properties
application.properties
application-dev.properties
application-prod.properties
application.properties

focal-maker-429307-t9-fe5b0a2caea5.json
prismatic-fact-426313-e2-2b5dc520fe05.json
third-oarlock-433802-q6-e0ec3044dc43.json
calm-grid-433802-v7-a451f0a56d84.json
springgcp-433802-2a7cf981cdbc.json

