<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Replies">

    <insert id="insertReply">
	    INSERT INTO Replies (reply_seq, review_id, store_seq, user_id, reply_text, created_at)
	    VALUES (reply_seq.nextval, #{reviewId}, 
	           (SELECT store_seq FROM Reviews WHERE review_id = #{reviewId}),
	           #{userId}, #{replyText}, CURRENT_TIMESTAMP)
	</insert>


	<!-- 리뷰 ID로 답글 개수 조회 쿼리 -->
    <select id="countRepliesByReviewId" resultType="int">
        SELECT COUNT(*)
        FROM Replies
        WHERE review_id = #{reviewId}
    </select>
   
	<select id="selectRepliesByStoreSeq" resultType="com.kedu.dto.RepliesDTO">
        SELECT *
        FROM Replies
        WHERE store_seq = #{storeSeq}
    </select>

   <!-- 리뷰 ID로 댓글 목록 조회 -->
    <select id="findRepliesByReviewId" resultType="com.kedu.dto.RepliesDTO">
        SELECT reply_seq, review_id, user_id, reply_text, created_at
        FROM replies
        WHERE review_id = #{reviewId}

        ORDER BY created_at ASC
    </select>

</mapper>