<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reservation">

	<select id="findByStatusAndUser" parameterType="map"
		resultType="com.kedu.dto.ReservationDTO">
		SELECT *
		FROM reservation r
		JOIN store s ON r.user_id =
		s.member_id
		WHERE r.status = #{status}
		AND s.member_id = #{userId}
		order
		by 1 desc
	</select>


	<!-- 음식점 예약 등록 -->
	<insert id="insert">
		insert into reservation (
		reservation_id, user_id,
		store_seq, reservation_date, reservation_time, num_guests,
		status,
		created_at, updated_at
		) values (
		reservation_seq.NEXTVAL, #{userId},
		#{storeSeq}, #{reservationDate}, #{reservationTime},
		#{numGuests},
		#{status}, sysdate, null
		)
	</insert>

	<!-- 본인 예약 삭제 -->
	<delete id="deleteReservation">
		DELETE FROM reservation
		WHERE reservation_id =
		#{reservationId}
	</delete>

	<!-- 삭제할때 예약 id 조회 -->
	<select id="findReservationById"
		resultType="com.kedu.dto.ReservationDTO">
		SELECT * FROM reservation
		WHERE reservation_id =
		#{reservationId}
	</select>

	<!-- 본인 예약 목록 모두 조회 -->
	<select id="getReservationsByUserId"
		resultType="com.kedu.dto.ReservationDTO">
		SELECT r.*, s.name AS storeName
		FROM reservation r
		JOIN store
		s ON r.store_seq = s.store_seq
		WHERE r.user_id = #{userId}
		ORDER BY
		r.reservation_date DESC, reservation_time desc
	</select>

	<!-- 취소 기록 저장 -->
	<insert id="recordCancellation">
		INSERT INTO cancellation_records (
		cancellation_id, user_id, cancellation_time
		) VALUES (
		cancellation_id_seq.NEXTVAL, #{userId}, #{cancellationTime}
		)
	</insert>

	<!-- 사용자의 마지막 취소 시간을 가져오기 -->
	<select id="getLastCancellationTime"
		resultType="java.sql.Timestamp">
		SELECT cancellation_time
		FROM (
		SELECT cancellation_time
		FROM cancellation_records
		WHERE user_id = #{userId}
		ORDER BY cancellation_time DESC
		)
		WHERE ROWNUM = 1
	</select>

	<!-- 예약 상태 변경 -->
	<update id="updateReservationStatus">
		update reservation
		set status = #{status}
		where
		reservation_id = #{reservationId}
	</update>
	
	<!-- 사용자이ㅡ 마지막 노쇼 시간을 가져오기 -->
	<select id="getLastNoShowTime" resultType="java.sql.Timestamp">
		SELECT r.updated_at AS no_show_time
		FROM reservation r
		WHERE r.user_id = #{userId}
		AND r.status = 'no-show'
		AND ROWNUM = 1
		ORDER BY r.updated_at DESC
		
	</select>
</mapper>