<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reviews">
	<!-- 리뷰 등록 -->
	<insert id="insertReview">
		INSERT INTO reviews (review_id, store_seq, user_id, reservation_id, rating, review_text) VALUES(reviews_seq.NEXTVAL, #{storeSeq},
		#{userId}, #{reservationId}, #{rating}, #{reviewText})
	</insert>
	
	<!-- 예약 ID로 리뷰 조회 -->
    <select id="getReviewByReservationId" resultType="com.kedu.dto.ReviewsDTO">
        SELECT review_id, store_seq, user_id, reservation_id, rating, review_text, created_at
        FROM Reviews
        WHERE reservation_id = #{reservationId}
    </select>
    
    <!-- 리뷰 수정 -->
    <update id="updateReview">
        UPDATE reviews
        SET review_text = #{reviewText}
        WHERE reservation_id = #{reservationId}
    </update>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReview">
        DELETE FROM reviews WHERE reservation_id = #{reservationId}
    </delete>
    
    <!-- 가게 리뷰 확인 -->
    <select id="selectReviewsByStoreSeq" resultType="com.kedu.dto.ReviewsDTO">
	    SELECT *
	    FROM Reviews
	    WHERE store_seq = #{storeSeq}
	    ORDER BY created_at DESC
	</select>
    
</mapper>