<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Store">

	<insert id="insertStore" parameterType="com.kedu.dto.StoreDTO">
        INSERT INTO store
        VALUES (store_seq.nextval, 3, #{category}, #{name}, #{description}, #{seat_status}, CURRENT_TIMESTAMP, NULL, #{address},  #{seatCapacity})
    </insert>
    
</mapper>
