<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Store">

	<insert id="insertStore" parameterType="com.kedu.dto.StoreDTO">
        INSERT INTO store
        VALUES (store_seq.nextval, #{memberId}, #{category}, #{name}, #{description}, #{seatStatus}, CURRENT_TIMESTAMP, NULL, #{address1}, #{address2}, #{postcode}, #{seatCapacity})
    </insert>
    
    <!-- 특정 사용자의 가게 수 확인 쿼리 -->
    <select id="countStoresByUserId" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM store WHERE member_id = #{userId}
    </select>
    
    <!-- 가게 ID로 가게 정보 조회 쿼리 -->
    <select id="getStoreById" parameterType="int" resultType="com.kedu.dto.StoreDTO">
        SELECT store_seq, member_id, category, name, description, seat_status,
         TO_CHAR(created_at, 'YYYY-MM-DD HH24:MI:SS') AS created_at,
         TO_CHAR(modified_at, 'YYYY-MM-DD HH24:MI:SS') AS modified_at,
         address1, address2, postcode, seat_capacity
        FROM store
        WHERE store_seq = #{storeSeq}
    </select>
    
</mapper>
